FIREBASE_DATABASE_URL=http://host.docker.internal:9000
FIREBASE_DATABASE_NAMESPACE=p1-redes-a87a7-default-rtdb
FIREBASE_AUTH_URL=http://host.docker.internal:9099
FIREBASE_API_KEY=fake-api-key
FIREBASE_CHECKER_EMAIL=
FIREBASE_CHECKER_PASSWORD=
CHECKER_ID=
CHECKER_CITY=Cartago
CHECKER_COUNTRY=CR
CHECKER_LATITUDE=9.8644
CHECKER_LONGITUDE=-83.9194
