# --- DNS API ---
DNS_API_PORT=8080

# --- Servidor DNS remoto ---
REMOTE_DNS_SERVER=8.8.8.8
REMOTE_DNS_PORT=53
UDP_TIMEOUT_MS=2000

# --- Supabase / Firebase ---
DB_PROVIDER=supabase
DB_URL=
DB_API_KEY=
